extends layout

block content
  //h1= title
  //p Welcome to #{title}
  .container
    h1 Braintree test
    .panel.panel-default
      .panel-body
        #error-message

        form#checkout-form(action='/transaction-endpoint', method='post')
          .form-group
            label(for='card-number') Card Number
            #card-number.hosted-field
            //input#card-number.form-control(type='text', placeholder='Card Number')
          .form-group
            label(for='cvv') CVV
            #cvv.hosted-field
            //input#cvv.form-control(type='text', placeholder='cvv')
          .form-group
            label(for='cvv') Expiration Date
            #expiration-date.hosted-field
            //input#expiration-date.form-control(type='text', placeholder='Expiration Date')
          
          input.btn.btn-default(type='submit', value='Pay 10 AUD', disabled='')
