doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


  script(src='/vendors/jquery/jquery.min.js')
  script(src='/vendors/bootstrap/js/bootstrap.min.js')

  // Load the Client component.
  script(src='/vendors/braintree/client.min.js')
  // Load the Hosted Fields component.
  script(src='/vendors/braintree/hosted-fields.min.js')

  script(src='/javascripts/braintree.js')
  script(src='/javascripts/index.js')